<p>Cats attributes</p>
<table>
  <tr>
    <th>name</th>
    <th>sex</th>
    <th>color</th>
    <th>birth date</th>
    <th>description</th>
  </tr>
  <tr>
    <th><%= @cat.name %></th>
    <th><%= @cat.sex %></th>
    <th><%= @cat.color %></th>
    <th><%= @cat.birth_date %></th>
    <th><%= @cat.description %></th>
  </tr>
</table>
<a href="<%= edit_cat_url(@cat) %>">edit cat</a>